<h1>About me</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile (copy).jpg", width: 300, alt: "Profile Image" %>
  </div>

  <div class="col-md-8">
    <p>Bacon ipsum dolor amet shankle sausage ribeye, hamburger rump brisket porchetta chicken sirloin andouille biltong. Sausage shank tongue tail corned beef meatloaf. T-bone prosciutto frankfurter shankle, beef ribs doner shoulder ball tip sirloin pastrami tenderloin pork belly porchetta. Biltong ground round pig short ribs jerky. Fatback beef ribs landjaeger bacon pork belly doner, picanha tail rump cow brisket beef chicken salami pastrami. Meatball chicken shankle chuck tail kielbasa.</p>

    <p>Alcatra andouille brisket landjaeger ball tip. Short ribs hamburger andouille pork chop meatloaf. Ball tip doner shank leberkas. Pork chop jowl fatback biltong, pork belly brisket venison t-bone sirloin shank strip steak chuck ball tip capicola shoulder.</p>
  </div>
</div>

